:root {
    --header-height: 4rem;
}

/* CORE */
html, body {
    @apply p-0 m-0 w-screen;
}
body {
    @apply text-[#322f35] /*bg-[#faf6f4]*/;
}
body main {
    @apply mx-auto max-w-5xl min-w-[50ch] w-full my-24 px-4 !pb-24;
}
